*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
.background{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/back1.jpg);
    position: relative;
}

nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: center;
    font-size: 20px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 80px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 70%;
    color: #fff;
    position: absolute;
    top: 40%;
    left:6%;
}

.text-box h1{
    font-size: 90px;
}

.text-box p{
    font-size: 24px;
}

.a-button{
    text-align: right;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: 20px;
    margin: 4px 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 1s;
}

.a-button:hover{
    border-color:#fff;
    background-color: #000;
    color:#fff;
}

.regimen{
    min-height: 95vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/back1.jpg);
    position: relative;
}

.top{
    padding: 1% 0%;
    color: #fff;
    text-align: center;
}

.top p{
    font-size: 27px;
    font-weight: bold;
}

.top h1{
    font-size: 54px;
}

.cards{
    text-align: center;
    padding:5% 5%;
}

.card{
    color:#fff;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding:4%;
    min-height: 55vh;
    width: 30%;
    margin:10px;
    border:1px solid rgba(0,0,0,0);
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0,0.3);
    display: inline-block;
}

.training1{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/card1.jpg);
    background-position: center;
    background-size: cover;
}

.training2{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/card2.jpg);
    background-position: center;
    background-size: cover;
}

.training3{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/card3.jpg);
    background-position: center;
    background-size: cover;
}

.b-button{
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: 600;
    cursor: pointer;
    transition: 1s;
}

.b-button:hover{
    border-color:#fff;
    background-color: #000;
    color:#fff;
}

.calculator{
    min-height: 97vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/back1.jpg);
    position: relative;
}

.calc{
    text-align: center;
    padding: 3% 8%;
}

.calc h1{
    font-size: 30px;
}

.calc p{
    font-size: 18px;
    font-weight:400;
}

#weight{
    padding: 8.5% 0%;
    width: 175px;
}

#fire{
    width: 250px;
}

.calorie, .bmi{
    color:#fff;
    padding:1%;
    min-height: 60vh;
    width: 30%;
    margin:30px 80px;
    border:1px solid rgba(0,0,0,0);
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0,0.5);
    display: inline-block;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.music{
    min-height: 95vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/back1.jpg);
    position: relative;
}

.playlist{
    text-align: center;
    padding: 4% 8%;
}

.playlist h1{
    font-size: 34px;
    font-weight: 900;
}

.playlist p{
    font-size: 18px;
    font-weight:600;
}

#custom{
    padding-bottom: 6%;
    margin-top: 6%;
    width: 225px;
}

#premade{
    padding-bottom: 3%;
    margin-top: 3%;
    width: 220px;
}

.premade, .custom{
    color:#fff;
    padding:1%;
    min-height: 60vh;
    width: 30%;
    margin:30px 80px;
    border:1px solid rgba(0,0,0,0);
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0,0.5);
    display: inline-block;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.newsletter{
    min-height: 95vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/back1.jpg);
    position: relative;
}

.top1{
    padding: 3% 0%;
    color: #fff;
    text-align: center;
}

.top1 p{
    font-size: 24px;
    font-weight: 500;
}

.top1 h1{
    font-size: 54px;
}

.details, .subscribe{
    text-align: center;
}

.details h1{
    text-align: left;
    padding: 1% 30%;
    color: #fff;
    font-size: 36px;
}

.text{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 100% solid #fff;
    margin-bottom: 1%;
    appearance: none;
    background-color: rgba(0,0,0,0);
    color: #fff;
    outline: none;
    width: 40%;
    font-size: 30px;
    padding: 0.2% 0%;
}

label{
    color: #fff;
    font-size: 28px;
}

input[type="checkbox"]{
    height:20px;
    width:20px;

}

.submit{
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: 20px;
    margin: 4px 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 1s;
}

.submit:hover{
    border-color:#fff;
    background-color: #000;
    color:#fff;
}